---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Testing">
	<main class="container">
		<h1>Belajar lah</h1>
		<div class="text-sm">Sampai bisa</div>
	</main>
</Layout>

<style>
	
</style>
